@{
    ViewBag.Title = "DetoxFootBath";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="welcome" class="white-container">
    <h2>Detox Foot Bath</h2>
    <br />
    <p>A detox foot bath is a dramatic and easy method that can help you reduce everyday toxins and increase your energy level.</p>
    <p>Some of the more common treatments that a detox foot bath is used for include swollen or deteriorating joints, edema, and gout. By simply keeping our bodies clean and toxin free, many people can enjoy a better quality of life. Our bodies are constantly trying to maintain a positive balance of acidity or PH. When the optimum balance is not attained health issues arise. If our body is at a higher PH (acid) level than normal, our bodies take minerals (calcium, sodium, potassium) from our vital organs and bones in an attempt to neutralize the acid. This causes a strain on our bodies, which can have prolonged negative affects to our health.</p>

</div>


<div class="boxes">
    <div id="custom-leftbox" class="white-container">
        <b>By detoxifying the body:</b>
        <ul>
            <li>You can speed up your metabolism to help weight loss</li>
            <li>Normalize blood pressure</li>
            <li>Relieve joint pain (arthritis)</li>
            <li>Reduce water retention</li>
            <li>Boost your immune system</li>
            <li>Clarified skin tone/acne</li>
            <li>Increased energy</li>
            <li>Decrease in allergies</li>
            <li>Migraine relief</li>
            <li>Arthritis relief</li>
            <li>Mental clarity</li>
            <li>Increased flexibility and muscle function</li>
            <li>Improved circulation</li>
        </ul>
        <br />

        <b>Contraindications</b>
        <br />
        You should not have this treatment if you have any of the following conditions:
        <ul>
            <li>Must be 16 years or older</li>
            <li>Pregnant or nursing mothers</li>
            <li>Clients with pacemakers</li>
            <li>Clients with open wounds on feet or ankles</li>
            <li>Diabetics should eat prior to treatment</li>
        </ul>


    </div>





    <div id="right-box" class="white-container">
        <h2 class="text-center">Pricing</h2>
        <br />


        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Single 30 minute Session</td>
                    <td>$35.00</td>
                </tr>
                <tr>
                    <td>Two Person 30 minute (same ticket)</td>
                    <td>$75.00 </td>
                </tr>
                <tr>
                    <td>3 Sessions</td>
                    <td>$110.00</td>
                </tr>
                <tr>
                    <td>6 Sessions</td>
                    <td>$210.00 </td>
                </tr>
                <tr>

                    <td>10 Sessions</td>
                    <td>$320.00 </td>
                </tr>

        </table>


        <br />

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">How It Works</a></li>
            <li><a href="#two" data-toggle="tab">Results</a></li>

        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="one">
                <p>Due to increasing population and industrial waste, our environment is suffering like never before. Air and water pollution is everywhere you go. Almost everything you put in your mouth and inhale through your nose is filled with toxic chemicals, soot and other harmful substances.</p>
                <p>Because of man’s disregard for the environment, it is not surprising that there is a rise in incidences of cancer, diabetes and strains of different lethal viruses, such as the bird flu virus. The immune system and your bodily functions can no longer operate at their peak because of the toxins, chemicals and wastes that each of us ingest through our nostrils or consume through our mouths.</p>
                <p>However, there are actually a lot of things you can do to help your body regain its health and vitality. An important first step to a healthy body and mind is detoxification, the process by which you eliminate wastes, chemicals, allergens and toxins out of your body.</p>
                <p>Our bodies naturally detoxify through the liver and kidneys, but our bodies were never designed to manage the toxic load in today’s environment. A detox foot bath unit utilizes the power of electricity to give the detoxification process a boost not only by extracting toxins during the 30 minute session, but also by stimulating the body’s systems, an effect that can last for days after the treatment.</p>
                <p>During the process, your body is completing an electrical circuit where a small current, too low for you to feel, is passed through your body stimulating and creating an energizing and refreshing effect. At the same time, a larger current is directed to the array placed in the water. The array contains two sets of metal plates or rings, one set of which act as the anode, the other as the cathode. These electrodes ionize the water, creating oxidization at the anode and reduction at the cathode. As part of this process, gas is released, either oxygen or hydrogen. Bubbles will form dependent on the amount of fats released from the body during the process.</p>
            </div>
            <div class="tab-pane fade" id="two">

                <table class="table table-hover table-bordered table-condensed">


                    <tbody>
                        <tr>
                            <th><b>Appearance</b></th>
                            <th><b>Indication</b></th>
                        </tr>


                        <tr>
                            <td>Dark Yellow</td>
                            <td>Bladder Toxins</td>
                        </tr>

                        <tr>
                            <td>Reddish Green</td>
                            <td>Kidney Toxins</td>
                        </tr>

                        <tr>
                            <td>Amber</td>
                            <td>Urinary Tract Toxins</td>
                        </tr>


                        <tr>
                            <td>Orange</td>
                            <td>Joint Toxins</td>
                        </tr>

                        <tr>
                            <td>Black</td>
                            <td>Liver Toxins</td>
                        </tr>

                        <tr>
                            <td>Dark Green</td>
                            <td>Gallbladder</td>
                        </tr>

                        <tr>
                            <td>White Foam</td>
                            <td>Lymphatic System Toxins</td>

                        </tr>

                        <tr>
                            <td>Black Flecks
                            </td>
                            <td>Cadmium Heavy Metals</td>

                        </tr>

                        <tr>
                            <td>Red Flecks</td>
                            <td>Blood Clot Material</td>
                        </tr>

                        <tr>
                            <td>White Cheese-Like Particles</td>
                            <td>Fungal By-Products</td>
                        </tr>

                        <tr>
                            <td>Light Brown</td>
                            <td>Cellular Debris</td>
                        </tr>

                        <tr>
                            <td>Smelly Purple</td>
                            <td>Old Locked in Drugs</td>
                        </tr>

                        <tr>
                            <td>Mucous</td>
                            <td>Substance Allergy Medication</td>
                        </tr>

                        <tr>
                            <td>Rancid Odor</td>
                            <td>Apoptosis By-Product, Cancer Cells</td>
                        </tr>

                        <tr>
                            <td>Tiny Specks</td>
                            <td>Pin Worms</td>
                        </tr>

                        <tr>
                            <td>Little Snake-Like Creatures</td>
                            <td>Worms or Parasites</td>
                        </tr>

                        <tr>
                            <td>Attaching Reddish Brown</td>
                            <td>Cardiovascular Toxins</td>
                        </tr>

                        <tr>
                            <td>Oily Substance on Top of Water</td>
                            <td>Bad Cholesterol</td>
                        </tr>

                        <tr>
                            <td>Dark Brown</td>
                            <td>Backed-Up Colon By-Product</td>
                        </tr>

                        <tr>
                            <td>Brownish-Yellow Cheese</td>
                            <td>Candida</td>
                        </tr>

                        <tr>
                            <td>Brown Flecks</td>
                            <td>Skin Toxins</td>
                        </tr>

                        <tr>
                            <td>Yellow-Green</td>
                            <td>Male/Female Hormonal Discharge</td>
                        </tr>

                        <tr>
                            <td>Brown-Black</td>
                            <td>Locked-In Tobacco Substance</td>
                        </tr>

                        <tr>
                            <td>Orange-Brown</td>
                            <td>Arthritis Medication By-Products</td>
                        </tr>

                        <tr>
                            <td>Oily Substances that Cluster</td>
                            <td>Fat, Triglycerides, Mal-Absorbed Oils</td>
                        </tr>

                    </tbody>

                </table>

            </div>

        </div>
    </div>

</div>


