@{
    ViewBag.Title = "LipoLaser";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="welcome" class="white-container">
    <h2>Lapex 2000 LipoLaser</h2>
     Embrace your natural curves and ditch the rest.  
As the most promising technology for spot fat reduction, the LAPEX-2000 LipoLaser's non-invasive treatment is considered one of the most innovative methods to treat stubborn areas of fat that do not respond to diet and exercise alone.


</div>


<div class="boxes">
    <div id="custom-leftbox" class="white-container">
        <b>PATIENT BENEFITS!</b>
        <ul>
            <li>Non-Invasive, fat reduction & body contouring</li>
            <li>No surgery, no pain, no injections</li>
            <li>Clinically proven results</li>
            <li>Targets stubborn areas of body fat such as love handles, waist line, hips, thighs, arms, and abdomen </li>
            <li>Measurable loss after just one treatment</li>
            <li>Comfortable, relaxing and safe</li>
            <li>Stimulates metabolism-“body wake up”</li>
        </ul>
        <b>SAFETY</b>
        <ul>
            <li>Low levels have been used successfully in private practice for over 30 years and in numerous studies worldwide. To date, there are no known reports of anyone being harmed by a low level laser, which is extremely safe when used correctly.</li>
            <li>Clinical testing completed in the United States and overseas has shown the LipoLaser maintained an excellent margin of safety throughout multiple treatments on a wide range of patients.</li>
        </ul>
        <b>Contraindications</b><br />
        You may not have this treatment if you have any of the following conditions:
        <ul>
            <li>Under the age of 18</li>
            <li>Cannot be medically morbidly obese</li>
            <li>Pregnant or Lactating</li>
            <li>Cannot have an abnormally low Body fat percentage for your size, age & weight.</li>
            <li>Epilepsy</li>
            <li>Pacemaker</li>
            <li>Genital Herpes (Or must be on suppressive medication for a year or more)</li>
            <li>Uncontrolled Hypertension</li>
            <li>Liver or Kidney Disorders</li>
            <li>Thyroid Gland Dysfunction</li>
            <li>Taking Synthroid or generics of synthroid</li>
            <li>Compromised Immune System</li>
            <li>Cancer or History of Cancer (Must be 10 or more years without recurrence)</li>
            <li>Photo sensitivty to sun exposure</li>
            <li>Taking drugs that cause photo sensitivity</li>
            <li>  Previous liposuction: SmartLipo, Lipo Dissolve, Cold Lipo etc. (resulting in the PERMANENT removal of your fat cells) LipoLaser may not work as effectively on those areas. A test session will be required if you wish to LipoLaser those areas.</li>
        </ul>
    </div>
    <div id="right-box" class="white-container">
        <h2 class="text-center">Pricing</h2>
        <div  class="text-center">
            Each treatment includes two sessions of Whole Body Vibration, One session before to 
            stimulate the lymphatic system and one after to burn up free fatty acids.

        </div>
        <br/>



        <table class="table table-hover">
            <tbody>
            <tr>
                <td>Intro Session
                    @* <br/>
                    <p>Includes 2 WBV sessions and 1 session of LipoLaser </p>*@
                </td>
                <td>$100.00</td>
            </tr>
            <tr>
                <td>Single Session</td>
                <td>$175.00</td>
            </tr>
            <tr>
                <td>3 sesson package</td>
                <td>$515.00</td>
            </tr>
            <tr>
                <td>5 session package</td>
                <td>$815.00</td>
            </tr>
           @* <tr>
                <td>8 Session Package</td>
                <td>$1,290.00</td>
            </tr>
            <tr>
                <td>10 Session Package</td>
                <td>$1,590.00</td>
            </tr>*@
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="text-center alert-info">Refer a friend and you will receive 1 free hour session for every person you refer, who buys at least a package of 3 or more. (They must give your name for us to credit you)  </div>

            <br/>
            <br/>




        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#first" data-toggle="tab">Lapex 2000 Non-Invasive Lipo Laser</a></li>
            <li><a href="#second" data-toggle="tab">How it works</a></li>
            <li><a href="#third" data-toggle="tab">FAQ</a></li>
            <li><a href="#fourth" data-toggle="tab">Important Info</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="first">
@*                <embed id="mediaPlayer_7dbb2807_ba7c_41eb_867f_cd3335fd5d6b" width="600" height="500" wmode="opaque" allowscriptaccess="Always" quality="high" bgcolor="#ffffff" name="mediaPlayer_7dbb2807_ba7c_41eb_867f_cd3335fd5d6b" style="undefined" src="http://youtube.com/v/rLjweMyPyAg&autoplay=1" type="application/x-shockwave-flash"></embed>*@
                <iframe width="600" height="450" src="http://www.youtube.com/embed/rLjweMyPyAg" frameborder="0" allowfullscreen></iframe>
                                                       
            </div>
            <div class="tab-pane fade" id="second">
                <p>Lapex 2000 LipoLaser paddles containing laser diodes that emit specific wavelengths of light designed to target fat cells (658 nm) are placed on the patient’s skin for 10 minute per treatment area. Laser energy safely and painlessly penetrates several millimeters into the subcutaneous adipose tissue.</p>
                <p>The adipose cell walls are made permeable for a temporary period allowing cell contents top spill out into interstitial space. The fat (in the form of triglycerides) is converted to free fatty acids, water and glycerol.</p>
                <p>The free fatty acids are utilized inside the body as energy or are absorbed by other cells, while the after is utilized or excreted and the glycerol is processed through natural metabolic functions. Fat cells are significantly reduced in size resulting in sustainable body contour improvements and inch loss.</p>
                <p>During a standard treatment cycle, the body can easily process the amount of mobilized fat that is released. Cell debris is cleared by natural metabolic pathways while structures such as blood vessels and peripheral nerves remain intact.</p>
                <img width="600" height="500" src="~/Content/Images/lipolaser/How%20it%20works%20pic.jpg" />
            </div>
            <div class="tab-pane fade" id="third">
                <b>How quickly can I see results? </b>
                <p>You will get measurable inch loss with each treatment; some patients notice results in the mirror after the second or third treatment. However, a standard treatment protocol consists of one to three sessions per week for four weeks; each session lasting 80 minutes. To maintain results you may do maintenance treatments at less frequent intervals once desired results are achieved. Or if you maintain a healthy and active lifestyle you will hold your results. Your treatment protocol may differ from above. A free consultation is available to get your specific protocol before purchase.</p>
                    
                <b>What happens during a treatment session?</b>
                <p> Patients relax in a comfortable position while a trained assistant places the two multi laser treatment paddles over the target areas for 10 minute intervals.</p>
                    
                <b>Is there discomfort associated with the treatment?</b>
                <p>No. Lapex 2000 LipoLaser treatments are completely non-invasive. Patients resume normal activities immediately after the session with no down time.</p>
                    
                <b> Is lipolaser safe?</b>
                <p>Yes. Lapex 2000 LipoLaser’s cold, low level laser technology has been studied and used for over 30 years for many biomedical purposes including wound healing, pain relief and inflammation.</p>
                    
                <b>Who is the ideal candidate for the lipolaser treatments?</b>
                <p>It works best on client who is at a comfortable weight or at least 15-20lbs from their goal weight - EX: When doing a torso we prefer that your belly button measurement is at, or below 40 inches. Not sure; come in and we will measure for you.</p>
                <p>However, studies have demonstrated efficacy for many different body and skin types. Many clients have enjoyed simply cleaning up a naturally curvaceous figure.</p>
                <p>It is recommended that each patient is evaluated based on body type and lifestyle so that reasonable expectations may be set for the LipoLaser results.</p>
                    
                <b>How long will my results last?</b>
                <p>Because LipoLaser is different from other invasive forms, by only draining fat cells, as opposed to removing them or killing them, the results will last as long as you are committed to keeping weight off, keeping up with normal exercise and healthy diet. it's like hitting the re-set button on your fat cells, If you do not stay committed, it may not work as well ,(This is the same for ANY form of fat removal even  invasive Liposuction clients will develop issues if they gain weight)  however for those who stay committed and have reasonably healthy lifestyle will be amazed at how easy and affordable it was to remove excess fat pockets, and extra inches that diet and exercise alone won’t budge-once it’s off its easy to keep it off! It is recommended that each patient is evaluated based on body type and lifestyle so that reasonable expectations may be set for the LipoLaser results.</p>
                
            </div>
            <div class="tab-pane fade" id="fourth">
                <p>A Credit Card Number, Check or Cash to hold, is required to hold your LipoLaser appointment. This is because we must book out large amounts of time for this service if you fail to show up and do not call prior to your appointment you will be charged $25.00.Your card will not be charged, check cashed or cash taken, unless you no call/no show. You will be informed if that transaction takes place. You can make payments with credit, debit, checks, money orders or cash.</p>
                <p>No Refunds - It is the policy of Azure Aesthetics that no refunds will be issued once an initial purchase has been made.  If treatment is contraindicated the purchaser may receive the full amount in store credit* toward alternative treatments or products. Only the amount paid is redeemable towards store credit taking into account discounts that were taken at the time of original purchase. When treatment packages are used the full cost of each treatment will be deducted from the amount paid and the remaining balance is what will be available for redemption toward store credit if other treatment options are pursued. </p>
                <p>*Store credit has no cash value and may only be redeemed towards either services or products offered by Azure Aesthetics.  </p>
                   
                
            </div>
        </div>
    </div>
</div>








