@{
    ViewBag.Title = "OtherProducts";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="boxes">
    <div id="left-box" class="white-container">
        <img src="~/Content/Images/HolyTea/htclogo.jpg" />
        <br />
        <hr/>
        <p>Formulated by Dr. Bill Miller (Ph.D. Nutritional Science) of Jackson, Tennessee - is a unique herbal blend of safe, all-natural ingredients designed to gently cleanse the digestive tract and detoxify the body.</p>
    </div>

    <div id="right-box" class="white-container">
        <img src="~/Content/Images/NutraluxLash/nutraluxe.jpg" />
        <br />
        <hr/>
        <div class="text-center">
            Visible results in only a few weeks with one application a day. This technological breakthrough will not only help to give you amazing looking eyelashes but eyebrows to- and no risk of retinal spotting, or lid darkening!
            NutraLuxe Lash MD is applied like the liquid eyeliner on the upper and/or lower eyelid and on the base of the eyelashes and/or eyebrow once a day. Within 4 to 6 weeks, you will see a measurable difference and after 6 weeks, your own natural eyelashes will increase in LENGTH, THICKNESS, STRENGTH and FULLNESS and look.
            The best part is that it's also affordable

        </div>

    </div>
</div>
