@model MvcSeasonsSite.Models.Special

@{
    ViewBag.Title = "Specials";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.NavBarSpecialsSelection = "active";
}

<div style="font-size: large"  class="white-container boxes">
    <p>@Html.Raw(Model.Content)</p>
</div>
    


    

