@{
    ViewBag.Title = "ThreeOTwoSkinCare";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="welcome" class="white-container boxes">
    <a href="http://www.302skincare.com/">
        <img src="~/Content/Images/302%20ProductPage/302SKINCARE.jpg" /></a>

</div>





<div class="boxes">
    <div id="left-box" class="white-container">
        <a rel="lightbox" href="~/Content/Images/302 ProductPage/RainForestLarge.jpg"><img class="img-rounded" src="~/Content/Images/302 ProductPage/RainForestSmall.jpg" /></a>
        <a rel="lightbox" href="~/Content/Images/302 ProductPage/MetLarge.jpg"><img class="img-rounded" src="~/Content/Images/302 ProductPage/MetSmall.jpg" /></a>
        <a rel="lightbox" href="~/Content/Images/302 ProductPage/AcneLarge.jpg" ><img class="img-rounded" src="~/Content/Images/302 ProductPage/AcneSmall.jpg" /></a>


    </div>

    <div id="right-box" class="white-container">
        <img class="img-polaroid" src="~/Content/Images/302 ProductPage/Avacodo302small.jpg" style="float: right"/>


        <b>What is 302?</b>
        <p>302 is a lipid that originates from a precursor in select avocado varieties. 302 helps revise the visible effects of chronologic and sun aging generates dramatic increase in cellular energy depleted by aging and environment.</p>



        <b>About 302 professional skincare:</b>
        <p>302 professional skincare provides safe, clinically tested, dermatologist approved products.  The line provides comprehensive solutions using new methods and new tools. 302 skincare lab extracts and produces the essential ingredients from their own facility and source organic ingredients whenever possible. </p>

        <b>About Organic:</b>
        <p>302 sources organic and sustainable agriculture based ingredients wherever possible and many of their products are in excess of 90% organic content.  They use no animal derived ingredients and do not test on animals. They same concerns you do in applying the most compatible ingredients for our health. </p>





        <b>About Preservatives:</b>
        <p>Very few 302 products need preservatives because they are formulated for natural stability and long shelf life.  For those several that do because they contain active proteins.  302 uses sodium benzoate, a food grade anti-fungal agent, and a second compound that is aquatically safe and well tolerated in humans and is one of the very few to have found approval worldwide MIT or methyisothiazolone.</p>

        <b>The Biology:</b>
        <p>The outer layers of skin thin as we age while the deeper layers become knotted and inelastic.  Between these two zones the stem cells produce new cells, but they are often poorly formed and fragmented.</p>

        <b>The Visible Result:</b>
        <p>302 renormalizes this natural barrier process to produce a better quality tissue, based on cell integrity and vitality.  Tone improves and evens out, Texture become smooth, and firmness replaces wrinkles and sags.  Over time, profound changes in skin integrity and appearance occur.  Simply and naturally.</p>




    </div>

</div>

@*<div class="white-container boxes">
         
    <a rel="lightbox" href="~/Content/Images/302 ProductPage/RainForestLarge.jpg"><img class="img-rounded" src="~/Content/Images/302 ProductPage/RainForestSmall.jpg" style="float: right"/></a>

   

    <b>What is 302?</b>
    <p>302 is a lipid that originates from a precursor in select avocado varieties. 302 helps revise the visible effects of chronologic and sun aging generates dramatic increase in cellular energy depleted by aging and environment.</p>
    
    

    <b>About 302 professional skincare:</b>
    <p>302 professional skincare provides safe, clinically tested, dermatologist approved products.  The line provides comprehensive solutions using new methods and new tools. 302 skincare lab extracts and produces the essential ingredients from their own facility and source organic ingredients whenever possible. </p>
    
    <b>About Organic:</b>
    <p>302 sources organic and sustainable agriculture based ingredients wherever possible and many of their products are in excess of 90% organic content.  They use no animal derived ingredients and do not test on animals. They same concerns you do in applying the most compatible ingredients for our health. </p>
    
    <a rel="lightbox" href="~/Content/Images/302 ProductPage/MetLarge.jpg"><img class="img-rounded" src="~/Content/Images/302 ProductPage/MetSmall.jpg" style="float: left"/></a>


    

    <b>About Preservatives:</b>
    <p>Very few 302 products need preservatives because they are formulated for natural stability and long shelf life.  For those several that do because they contain active proteins.  302 uses sodium benzoate, a food grade anti-fungal agent, and a second compound that is aquatically safe and well tolerated in humans and is one of the very few to have found approval worldwide MIT or methyisothiazolone.</p>
    
    <b>The Biology:</b>
    <p>The outer layers of skin thin as we age while the deeper layers become knotted and inelastic.  Between these two zones the stem cells produce new cells, but they are often poorly formed and fragmented.</p>
    
    <b>The Visible Result:</b>
    <p>302 renormalizes this natural barrier process to produce a better quality tissue, based on cell integrity and vitality.  Tone improves and evens out, Texture become smooth, and firmness replaces wrinkles and sags.  Over time, profound changes in skin integrity and appearance occur.  Simply and naturally.</p>
    
    
    
    
    
   
</div>*@
