@{
    ViewBag.Title = "WBV";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="welcome" class="white-container">
    <h2>Whole Body Vibration</h2>
    Degenerative disease and accelerated aging have all been attributed to insufficient cellular stimulation. As living cells struggle with poor nutrition, low oxygen levels, environmental toxins, and stagnation of lymphatic fluids, disease conditions develop and accelerate aging. 
    The solution has arrived in the form of a low impact, vertical, Whole Body Vibration (WBV) machine.  www.goodvibrationzllc.com


</div>


<div class="boxes">
    <div id="custom-leftbox" class="white-container">
        <b>In less than 20 minutes the Whole Body Vibration machine can help you:</b>
        <ul>
            <li>Burn Calories</li>
            <li>Improve Circulation</li>
            <li>Increase Strength</li>
            <li>Gain energy and endurance</li>
            <li>Speedy recovery</li>
            <li>Develop better balance and coordination</li>
            <li>Enhance flexibility</li>
            <li>Reduce Pain</li>
            <li>Alleviate Stress</li>
            <li>Decrease unsafe cortisol levels</li>
            <li>Eliminate cellulite </li>
            <li>Improve overall health and well being </li>
        </ul>
        <br/>
        
        <div class="img-polaroid">      
            <a rel="lightbox" href="~/Content/Images/WholeBodyVibrations/wbvlarge.jpg"><img src="~/Content/Images/WholeBodyVibrations/wbvsmall.jpg"/></a>
        </div>

       
    </div>


    <div id="right-box" class="white-container">
        <h2 class="text-center">Pricing</h2>
        <div class="text-center">
            Membership packages include unlimited access Monday through Saturday
            <br/>First Time Members Buy 1 Month Get 1 Month Free
            
        </div>
        <br />


        <table class="table table-hover">
            <tbody>
            <tr>
                <td>Try 3 Sessions For Free</td>
                <td></td>
            </tr>
            <tr>
                <td>Single session</td>
                <td>$7.00</td>
            </tr>
            <tr>
                <td>One Month </td>
                <td>$80.00 </td>
            </tr>
             <tr>
                <td>E-mail questions to Debbie Wicklund Good.Vibrationz@yahoo.com</td>
                <td></td>
            </tr>
        </table>
      <div class="text-center alert-info">Don’t forget, if you refer a friend and purchase a package, you'll get $20 off your next regularly priced month!</div>
                

        <br />
        <br/>
        




        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">How it Works</a></li>
            <li><a href="#two" data-toggle="tab">Effects</a></li>
            <li><a href="#three" data-toggle="tab">Clinical Applications</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="one">
                <p>The WBV accelerates the body's natural healing response by increasing cellular oxygen, enhancing cellular nutrient uptake, stimulating cellular fluid movement, and facilitating cellular waste removal. As a result, the new cells are more resilient, vibrant, and function together more cohesively as a healthier, longer lasting body. No matter how young or old you are and irrespective of your level of fitness or health, the WBV offers individual therapeutic and exercise opportunities for everyone. The whole body or a part of the body can be stimulated and trained.</p>
                <p>When a muscle fiber is stretched, it will contract by reflex. By standing on the WBV machine, pure vertical vibration is transmitted throughout the whole body. This causes thousands of muscle contractions which increases muscle tone. The movement of the vibration plate stimulates the body to respond with a strong involuntary muscle contraction similar to when your doctor taps on your knee with a reflex hammer.</p>
                <p>Usage consists of standing upright on the WBV machine platform. It produces low impact, true vertical vibrations from 1 Hz to 99 Hz with variation of amplitude from 0 to 100. Vertical vibrations are transferred through the body, stimulating all areas: cells, blood vessels, organs, muscles, etc.</p>
                <p>The whole-body vibration platform is the newest leading edge technology that goes beyond the standard mechanical vibration machines and implements the technology of sound.</p>
                <p>This provides an improved vibration throughout the entire body where you can specify not only the speed of the vibration (Hz), but also the amplitude of each wave.</p>
            </div>
            <div class="tab-pane fade" id="two">
                <p>Muscles: The effect of vibration results in what scientific literature calls 'Tonic Vibration Reflex' or 'TVR'. That is a repeated myotatic reflex or stretch reflex. This means that the vibrated muscle has to work very hard, while the subject or player using the Evolution® does nothing other than balance on the platform. The effect per pulsation is like that of the knee jerk reflex. This muscle activity can be measured by use of electromyography (EMG). With vibration training on the Evolution™ the muscles work at 200 to 300% of this IRM activation. This is an ideal way to train, especially when the muscle does not function properly, for example with weakened muscles in the elderly, or after injuries. </p>
                <p>Hormones: Research shows that after just one session of vibration training there is a high excretion of Testosterone and Growth Hormone. There is also a drop in the stress hormone cortisol. This combination has favorable effects on muscle protein synthesis.  The effect of vibration training on hormones has shown the following, an increase in testosterone of more than 7%.  Human Grown Hormone showed an increase of more than 460% and Cortisol was reduced by 32%. (Source: Bosco et al 2000) Increases in Testosterone and Growth Hormone are important in the functioning of both body and mind. Many complaints of the elderly can be traced to a decrease in these hormones. It is essentially these hormones, together with the female hormone estrogen, which are used to combat geriatric complaints so that it is possible to still enjoy life and vitality even when one has reached old age. </p>
                <p>Bones: Bone decalcification (osteoporosis) is one of the biggest health problems especially in the elderly and women population. Many elderly people break their bones more easily when they fall because of bone decalcification; the hip is the most notorious in this respect. The onset of osteoporosis is partly due to a lack of movement, which causes muscles to gradually weaken, the circulation to diminish and the bones to be inadequately used. In addition, as a result of the ageing process, the body produces fewer hormones such as testosterone, estrogen and growth hormone. Yet it is exactly these hormones which play such an important role in the maintenance of strong bones. The advice usually given to sufferers of this disease is to take more exercise, but that is difficult when muscles are weak, particularly in the legs. The Evolution™ offers a good alternative to vigorous impact exercise: through vibration the muscles automatically become stronger and regain their tone. The circulation improves because the blood vessels in the legs are wide open due to the vibration. At the same time, the pulsation gives a direct stimulus to bone tissue, which in turn stimulates the production of new bone tissue. Scientific research shows that vibration training can help against osteoporosis. Recent findings show that even after only one vibration treatment, there is an increase in the hormone testosterone and growth hormone, which are so essential for strong bones. </p>
                <p>Neurotransmitters: Parkinson's disease is an example of a deficiency in dopamine, which is the reason that L-Dopa is given as medicine. It is also recognized that serotonin plays a role in our mood, or frame of mind. A shortage of serotonin in the brain can lead to depression, which is the reason that Prozac is given as a medicine in order to increase the serotonin content in the brain. From research, it appears that vibration training also influences the neurotransmitters and the way in which they work. Vibration training increases the serotonin content in the brain, which could possibly explain why one feels so well after vibration training. </p>
                <p>Blood Vessels: The effect of vibration training on the blood vessels is clear to see and to feel. After training, one often sees that the skin of the lower leg is colored pink. This is a sign that the blood vessels in that area are wide open. It also explains the feeling which many describe as: coming home after a snowball fight with your bare hands, and then putting your hands in a bucket of warm water; a tingling feeling which indicates that your blood vessels are wide open. In Germany, the effect of vibration training is used as therapy for a disturbed peripheral circulation, particularly in the lower legs, such as in chronic venous insufficiency.</p>
             

            </div>
            <div class="tab-pane fade" id="three">
                <p>Vibration Therapy is used in the medical field for the treatment and prevention of a variety of illnesses, injuries, and adverse health conditions.</p>
                <p>Emphysema: Ordinarily, patients with emphysema find it nearly impossible to undertake any kind of physical exercise. The Evolution's low impact vibration therapy enables patients to achieve most of the benefits of a regular workout and helps them to do cardio-fitness training such as walking or even running.</p>
                <p>MS / ALS: Patients with Multiple Sclerosis and Amyotrophic Lateral Sclerosis are unable to train because the nerves are no longer capable of controlling the muscles properly. The Evolution's low impact vibrations activate the muscles directly without relying on the nervous system. Patients tend to feel better, have more energy to cope with everyday activities, experience less pain and are less dependent on others.</p>
                <p>Osteoporosis: Millions of Americans, especially women, are at risk of developing this disease, which results from the decalcification of the bones due to hormonal imbalances. The bones become fragile with a tendency to break easily. Training on the Evolution can help increase bone density, usually reversing the effects of osteoporosis.</p>
                <p>Arthritis and Rheumatism: the Evolution's low impact vertical vibration can reduce the pain and discomfort of these conditions. It has been proven to increase blood circulation in the joints and dramatically improve flexibility and range of motion.</p>
                <p>Lower Back Pain: the Evolution's low impact vertical vibrations can strengthen the weakened lower back muscles that cause back pain. (Patients with an acute back hernia should not use Vibration Therapy).</p>
                <p>Pelvic Instability: This condition usually results from softening of the connective tissue during pregnancy. The Evolution's low impact vertical vibrations quickly bring the hormonal system into balance, enabling connective tissue to recover its strength and firmness.</p>
                <p>Excess Body Fat: the Evolution works several ways to help dissolve excess body fat; it increases metabolism which burns calories more rapidly; increases blood circulation and lymphatic drainage thereby removing toxins faster. Human Growth Hormone secretion increases dramatically (460%). Excess body fat melts away effortlessly. People who use the Evolution for 10 minutes, three times a week, lose significantly more fat than those who engage in aerobic activity for one hour three times a week!</p>
                <p>Cellulite: Those lumpy fatty deposits that form an unattractive dimpling effect around the thighs and other parts simply melt away when training with whole body vibration.</p>
                <p>Stress: Modern life is stressful, causing the release of toxic stress hormones such as cortisol and epinephrine, which throw the immune system out of balance and destroy brain cells by the millions. Low impact vertical vibration increases human growth hormone and serotonin (the "happiness, relaxation and well-being hormone") secretion, lowers cortisol and epinephrine secretion 31%, and enhances circulation, all of which counteract the effects of stress on the body and spirit.</p>
            </div>
        </div>
    </div>

</div>


