@{
    ViewBag.Title = "InfaredDetox";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="layout-two">
    <section id="title">
        <h3>Sudatonic Infrared Detox Wrap</h3>
    </section>


    <section>
    
            <h4>Pricing</h4>
            <p>
                Infrared Detox Wrap
                60 Min Session
            </p>


            <table>
                <tbody>
                    <tr>
                        <td>Single session</td>
                        <td>$35.00</td>
                    </tr>
                    <tr>
                        <td>Package of 3</td>
                        <td>$100.00 </td>
                    </tr>
                    <tr>
                        <td>Package of 5</td>
                        <td>$160.00</td>
                    </tr>

            </table>
      
    </section>
    
    <section >
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#first" data-toggle="tab">Actions</a></li>
            <li><a href="#second" data-toggle="tab">Common Questions</a></li>
            <li><a href="#third" data-toggle="tab">How it works</a></li>
            <li><a href="#fourth" data-toggle="tab">Treatment Guidelines</a></li>
        </ul>
        

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="first">
                <h5>BURNS 500 OR MORE CALORIES IN JUST ONE SESSION!</h5>
                <ul>
                    <li>Reduces fatigue and stress</li>
                    <li>Detoxes skin, tissue and muscles</li>
                    <li>Removes toxins and wastes</li>
                    <li>Improves the immune system</li>
                    <li>Relieves pain and joint stiffness</li>
                    <li>Burns calories, controls weight</li>
                    <li>Improves skin quality and tone</li>
                    <li>Increases blood circulation</li>
                    <li>Strengthens cardiovascular</li>
                </ul>
                <h5>Contraindications</h5>
                <p>You may not have this treatment if you have any of the following conditions:</p>
                
                <ul>
                    <li>Acute Joint Injury (First 48 hours)</li>
                    <li>Implanted Pacemaker</li>
                    <li>Pregnancy</li>
                    <li>Constricted Coronary Blood Vessels</li>
                    <li>High or Low Blood Pressure (Check with your technician regarding medication, not all conditions are contraindicated) </li>
                    <li>Enclosed Infection (dental, joint)</li>
                    <li>Hemophilia</li>
                    <li>Overactive Thyroid Gland</li>
                    <li>Diabetes Requiring Insulin</li>
                    <li>Kidney Malfunction</li>
                    <li>Open Wounds of Any Kind</li>
                    <li>Certain Skin Diseases</li>
                    <li>Fever</li>
                    <li>Severe General Infection</li>
                </ul>
            </div> 
            <div class="tab-pane fade" id="second">
                <h5>Why is Far Infrared Rays (FIR) so unique to the Human Body?</h5>
                
                <p>Far Infrared Rays has the ability to penetrate, refract, radiate and reflect. The human body can absorb Far Infrared Rays because of its deep penetrating ability. When Far Infrared Rays penetrates through skin to the subcutaneous tissues, it transforms from light energy into heat energy. The thermal effect within the deep layers of the tissues causes blood vessels and capillaries to dilate, promoting a better circulation, and the heat produced helps to stimulate the sweat glands that cleanse and detoxify the body of accumulated toxins and metabolic wastes.</p>

                <h5>How does Far Infrared Rays Help With Pain/Injury?</h5>
                
                <p>In a case of injury, heat stimulates vasodilation of peripheral blood vessels, bringing oxygen to joints and extremities, relaxing stiff muscles, speeding the healing of sprains and strains. The increased blood flow helps aching and injured muscles recover faster because of the stronger blood flow and the purging of wastes from the body through the skin.</p>

            </div>   
            <div class="tab-pane fade" id="third">
                <p>Sudatonic is a targeted infrared heat system commonly used for weight control, pain relief, and improved skin conditions including acne, cellulite removal, inch loss and more. Far-infrared radiant (FIR) heat is a completely safe form of naturally occurring energy that heats objects by a process called direct light conversion.</p>
                <p>Radiant heat is also called infrared heat or infrared energy. Direct light conversion warms only the object and does not raise the temperature of the surrounding free air. This type of energy travels 2-3" deep into the body and to increase circulation and nourish damaged tissue.</p>
                <p>The sun is the primary source of radiant energy, but not all of this energy is beneficial. Although life needs energy from the sun, too much sunlight damages the skin.</p>
                <p>Far Infrared heat provides many of the health benefits of natural sunlight without any of the dangerous effects of solar radiation. Infrared delivers all the time-honored, proven benefits of heat therapy for aches, pains and stiffness.</p>
                <p>While wrapped, infrared heat penetrates down to the bone and radiates outward, heating ligaments, joints and muscles while reaching toxins and cellulite that are trapped in pockets below the skin. You relax while burning up to 500 calories or more in a 1 hour session.</p>
                

            </div>
            <div class="tab-pane fade" id="fourth">
                <p>You may bring a sports bra and panties or you may go in the nude, we will provide "spa" panties for you, and cover your chest. Men must bring swim shorts, boxers or basketball shorts for the service. Do remember to bring something dry to change into. Do not bring swim suits for the slimming service; the creams cause the color to fade on some brands, staining the towels. If it’s an older suit you may opt to use it, and we will use dark colored towels.</p>
                <p>Eat a good meal 1 hour before your treatment, consisting of low fat protein, vegetables or fruit and low sugar carbohydrates.  At least 350 calories!</p>
                <p>Drink plenty of water daily. Start drinking water a few days prior to your treatment to ensure proper hydration. We recommended 1 quart per 50lbs of body weight. OR 96 oz. of plain water. DO NOT CONSUME SODA OR COFFEE BEFORE YOUR TREATMENT.</p>
                <p>You may exfoliate the day before your treatment, but avoid using oil base lotions or creams on your skin prior to your treatment. You will be provided with body lotion after your treatment.</p>
                <p>Avoid eating for 3 hour after your treatment to get optimum results. You will be able to sip water during those hours. If you must eat ex: You have done your treatment later in the evening and need to eat dinner. Go ahead and eat something small like salad, eggs or a protein bar with a large glass of water to tide you over until the proper time has passed, then eat another small low fat meal.</p>
                <p>More maximum results include cardio workouts and some weight lifting if available into your week. Cut back on sugar, white flour and watch your portion size. Eat plenty of fruits and vegetable and lean meats. And you can never have too much water!</p>
                
                <p>
                    If you don't have gym access or time to work out, check out our Whole Body Vibration. This 10-16 minutes service burns around 290 calories, reduces cortisol, increases lean muscle mass, increases bone density, reduces cellulite, and more. This can be done before or after your wrap treatment to speed up results.
                </p>

                <h5>The Treatment process</h5>

                <p>
                    <ul>
                        <li>We will to enter the treatment room and have you use the restroom, we will leave, and you will weigh yourself in the nude, and remember that number. You will change into your treatment clothing if you have brought some.</li>
                        <li>     Your technician will enter the room and will record your weight and will record your body fat percentage and your BMI with a BMI calculator. </li>
                        <li>        You will lay down face down on the bed, you will be massaged with a vibration massager to stimulate the cells and increase circulation. Creams are applied to the body. </li>
                        <li>        You will be wrapped loosely in a large plastic sheet, arms in is preferable however if you are claustrophobic you may leave one arm out. You will be covered with the infrared blanket, a second heat reflective blanket and then a large towel. This keeps in the heat and speeds up the process.</li>
                        <li>  We will turn on relaxing music or you may bring your I-Pod, we will turn on a fan to circulate cool air over your face, turn down the lights and your tech will step out. </li>
                        <li>    We use a monitor in the treatment room that will only be turned on after you are wrapped, we can see and hear you. If you have questions, concerns or even an itch you may call for your tech.  </li>
                        <li>    Treatment lasts 60 minutes. When you are done your technician will come in and let you out of the blankets, you will be asked to use the restroom again, weigh yourself in the nude a second time and then you may get dressed. You will be provided with a bottle of water after every service. </li>
                        <li>  After you are dressed your technician will take down your weight, and do the body fat % and BMI test again. This will give us an idea of calories burned, water weight lost or muscle gained for that treatment. If you are doing a series your tech will also do measurements before and after service.</li>
                    </ul>
                </p>


                <h5>Worth Knowing:</h5>

                <p>
                    The measuring principal of the body fat scales: The body fat scales calculate body fat according to the BIA- the Bioelectric Impedance Analysis principle,
                    in which the fat in the body is analyzed in seconds by means of undetectable, completely harmless and safe electrical current. This measurement of the electrical
                    resistance impedance allows the percentage of fat to be measured. Muscular tissue has good electrical conductivity and thus-low resistance. Fat on the other hand can
                    be regarded as an insulator, since the fat cells hardly conduct current at all as a result of their high resistance.
                </p>

                <h5>Weighing Yourself Correctly:</h5>

                <p>
                    If possible always weigh yourself at the same time of day (preferably in the morning) to obtain comparable results. Remember the unnecessary clothing as well as food and drink beforehand can add to your weight. Only the long term trend is important, short term fluctuations in weight are generally the result of fluid loss.
                    If your weight drops, but your body fat percentage increases, or stays the same you have lost only water, for instance after a training session or sauna session or a diet which is based only on rapid weight loss.

                    If your weight increases but your body fat percentage reduces or stays the same, then you have gained valuable muscle.

                    If both your weight and your body fat % fall at the same time, your diet is working and you are losing body weight.

                </p>
            </div>
        </div>
        <p>***You should consult with your doctor before receiving the Sudatonic Wrap if you have received treatment for any of the following conditions: Cardiac Condition, Lupus Erythematosus, Adrenal Suppression, Multiple Sclerosis, Metal Pins or Rods or Artificial Joints.</p>
    </section>



 


    
</div>

