@{
    ViewBag.Title = "InfaredSlimming";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="layout-three">
    <section id="title">
        <h3>Sudatonic Slimming Body Contour System</h3>
    </section>

    <section id="top-content">
        <article>
            <h4>About</h4>
            <p>The Sudatonic System was developed in the late 90's by French Doctor Yves Loones of La Rose Blanche Paris. La Rose Blanche is well known for their body and skin care line. Their products are based in science, and provide physiologic solution to health and beauty issues, focusing on the root cause of poor skin, excess weight, cellulite, and stretch marks. The Sudatonic System utilizes a 4-zone Far Infrared technology along with unique cosmeceuticals that are proven to get the best possible slimming results.</p>
        </article>
        
        <aside>
            <h4>Pricing</h4>
            <p> Slimming & Body Contouring
            60 Min Session</p>
           


            <table>
                <tbody>
                    <tr>
                        <td>Single session</td>
                        <td>$55.00</td>
                    </tr>
                    <tr>
                        <td>Package of 3</td>
                        <td>$155.00 </td>
                    </tr>
                    <tr>
                        <td>Package of 5</td>
                        <td>$250.00 </td>
                    </tr>
            </table>
        </aside>
   
    </section>
    
  
    



    <section id="bottom-content">

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#first" data-toggle="tab">Actions</a></li>
            <li><a href="#second" data-toggle="tab">Common Questions</a></li>
            <li><a href="#third" data-toggle="tab">How it works</a></li>
            <li><a href="#fourth" data-toggle="tab">Treatment Guidelines</a></li>
        </ul>


        <div id="myTabContent" class="tab-content">
            <div id="first" class="tab-pane fade in active">
                <h5>BURNS UP TO 1,000 CALORIES IN JUST ONE SESSION!</h5>
                <ul>
                    <li>Reduces fatigue and stress</li>
                    <li>Removes toxins and wastes</li>
                    <li>Improves the immune system</li>
                    <li>Relieves pain and joint stiffness</li>
                    <li>Burns calories, controls weight</li>
                    <li>Improves skin quality and tone</li>
                    <li>Increases blood circulation</li>
                    <li>Strengthens cardiovascular</li>
                    <li>Removes water retention</li>
                </ul>
                <h5>There are many therapeutic benefits of Radiant Infrared Ray heat therapy.</h5>
                <ul>
                    <li>Promotes the breakdown of fat which leads to a reduction of cellulite and weight loss.</li>
                    <li>Burns hundreds of calories to promote weight loss, body fat and body mass reduction.</li>
                    <li>Encourages detoxification of accumulated toxins and metabolic waste.</li>
                    <li>Eliminates retention of liquids that prevent proper fat management by the body.</li>
                    <li>Improves circulation, cleanses, tones skin as well as improves skin elasticity.</li>
                </ul>
                <h5>With just one hour-long treatment you can accomplish more than you would with weeks of workouts and dieting!</h5>
                <ul>
                    <li>Lose inches off your waistline, hips, and thighs.</li>
                    <li>See dramatic progress in your quest to get rid of cellulite. </li>
                    <li>Lose belly fat – we all know how hard that can be.</li>
                    <li>Lose up to 10% body fat (in a protocol) This could take you more than 2 or 3 months of rigorous cardio, body building and diet.</li>
                    <li>Completely invigorate your body!</li>
                    <li>Soften skin</li>
                    <li>Lighten stretch marks – trying to get rid of stretch marks is a long haul, and virtually impossible. But you can make them far less visible.</li>
                    <li>Reduce tension, soothe muscles and joints – relaxing and invigorating at the same time. You’ll feel great!</li>
                </ul>
                <h5>Contraindications</h5>
                <p>
                    You may not have this treatment if you have any of the following conditions:
                </p>
                <ul>
                    <li>Acute Joint Injury (First 48 hours)</li>
                    <li>Implanted Pacemaker</li>
                    <li>Pregnancy</li>
                    <li>Constricted Coronary Blood Vessels</li>
                    <li>High or Low Blood Pressure (Check with your technician regarding medication, not all conditions are contraindicated) </li>
                    <li>Enclosed Infection (dental, joint)</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="second">
                <h5>Why is Far Infrared Rays (FIR) so unique to the Human Body?</h5>
                <p>Far Infrared Rays has the ability to penetrate, refract, radiate and reflect. The human body can absorb Far Infrared Rays because of its deep penetrating ability. When Far Infrared Rays penetrates through skin to the subcutaneous tissues, it transforms from light energy into heat energy. The thermal effect within the deep layers of the tissues causes blood vessels and capillaries to dilate, promoting a better circulation, and the heat produced helps to stimulate the sweat glands that cleanse and detoxify the body of accumulated toxins and metabolic wastes.</p>

                <h5>How does Far Infrared Rays help Weight Loss?</h5>
               
                <p>Far Infrared Rays heat therapy can aid in weight loss by speeding up the metabolic process of vital organs and endocrine glands, resulting in substantial caloric loss in one body wrap session. Perspiring is part of the complex thermo-regulatory process of the body that increases the heart rate, cardiac output, and metabolic rate. The process requires a large amount of energy and reduces excess moisture, salt and subcutaneous fat. Fat becomes water soluble at 110 Degrees Fahrenheit and the body sweats out and burns fats and toxins.</p>

                <h5>How does Far Infrared Rays help reduce Cellulite?</h5>
             
                <p>Cellulite is a gel-like substance made up of fat, water and wastes which are trapped in pockets below the skin. The Sudatonic method attacks cellulite by forcing the body to burn adipocytes within the fat lobes to fuel the ejection of perspiration through the skin's surface. As the overly large adipocytes are removed from the fat lobes, the fat lobes revert back to their normal shape, flattening the skin. The smaller adipocytes allow lymph to once again reach the skin's surface, bringing with them valuable nutrients as well as washing away toxins and waste. The result is slimmer, healthier, radiant, smoother skin!</p>


            </div>
            <div class="tab-pane fade" id="third">

                <img src="~/Content/Images/InfaredSlimming/InfraredSlimmingpic3.jpg" />

                <p>The Sudatonic system functions by applying an extra layer of skin onto the patient using Sudatonic creams, whose only active ingredient are essential oils. Anytime the human body is heated the natural bodily reaction is to sweat to cool down. The extra layer of skin makes this a little more difficult for the body, so fat cells are broken down to help push the sweat out.</p>
                <p>Obesity and cellulite result from poor diet and poor micro circulation. The first sign of poor micro circulation is excess water retention, and SUDATONIC first eliminates excess water then attacks excess fat.</p>
                <p>
                    As fat accumulates in the fat lobes underneath the skin, the lobes become disfigured, turning into octagonal shapes, leading to cellulite. This prevents proper nutrient flow (micro circulation) in addition to the unsightly 'orange peel' exterior left on the skin.
                    After the SUDATONIC creams are applied, a special heating blanket is wrapped around the patient, and fat cells are broken down as the sweat is pushed through the extra layer of skin. As the body heats up it attempts to sweat to cool down, but the sweat molecules cannot penetrate the 2nd skin.
                    The body, needing to sweat to cool down, calls on the fat lobes to release adipocytes so they can be burned to fuel the oppressed perspiration. In essence the body now burns the fat so that it is able to sweat!
                </p>
                <h5>We are only using one cream at this time:</h5>
                <p>Cream one contains seaweed. Seaweed is extremely rich in vitamins, amino-acids and oligo-elements and contains iodine derivatives which are particularly active in the combustion and elimination of fats.  SUDATONIC 1 is a storehouse of the active ingredients contained in seaweeds; it forms a second skin to lypolyse excess fat from adipocytes.  It is pleasant to use because no cleansing is required after the session.</p>
                @*<p>Cream two contains a high concentration of essential oils reputed for their action in lymph draining and the elimination of fat toxins and other metabolic waste.  Use on infiltrated areas to reinforce targeted action synergy with SUDATONIC 1.</p>*@
                @*<p>Cream three contains a tea extract which stimulates and activates the elimination of stored fat. Enriched with compounds, it acts on the metabolism by inhibiting the storage of fat reserves. The physiological conditions connected with the Thermo-Sudation (vasodilation, faster metabolic exchanges) enable the active ingredients to infiltrate the fat cell layers more effectively. Apply at the end of every session to the entire body to increase the action on stored fat.</p>
                    <p>Cream four is a fat reduction formula. Containing the essential oils of Melaleuca (Australian tea tree oil) and cinnamon having been selected for their healing and stimulating properties, these ingredients accelerate blood circulation in the skin and improve the penetration of a compound that inhibits certain enzymes, thereby preventing fat solidification and storage in the fat cell layers. Applied to the entire body and then followed by SudaTone cream two.</p>*@

            </div>
            <div class="tab-pane fade" id="fourth">
                <p>
                    You may bring a sports bra and panties or you may go in the nude, we will provide "spa" panties for you, and cover your chest. Men must bring swim shorts, boxers or basketball shorts for the service. Do remember to bring something dry to change into. Do not bring swim suits for the slimming service; the creams cause the color to fade on some brands, staining the towels. If it’s an older suit you may opt to use it, and we will use dark colored towels.
                <p>Eat a good meal 1 hour before your treatment, consisting of low fat protein, vegetables or fruit and low sugar carbohydrates.  At least 350 calories!
                <p>Drink plenty of water daily. Start drinking water a few days prior to your treatment to ensure proper hydration. We recommended 1 quart per 50lbs of body weight. OR 96 oz. of plain water. DO NOT CONSUME SODA OR COFFEE BEFORE YOUR TREATMENT.
                <p>You may exfoliate the day before your treatment, but avoid using oil base lotions or creams on your skin prior to your treatment. You will be provided with body lotion after your treatment.
                <p>Avoid eating for 3 hour after your treatment to get optimum results. You will be able to sip water during those hours. If you must eat ex: You have done your treatment later in the evening and need to eat dinner. Go ahead and eat something small like salad, eggs or a protein bar with a large glass of water to tide you over until the proper time has passed, then eat another small low fat meal.
                <p>More maximum results include cardio workouts and some weight lifting if available into your week. Cut back on sugar, white flour and watch your portion size. Eat plenty of fruits and vegetable and lean meats. And you can never have too much water!
                <p>
                    If you don't have gym access or time to work out, check out our Whole Body Vibration. This 10-16 minutes service burns around 290 calories, reduces cortisol, increases lean muscle mass, increases bone density, reduces cellulite, and more. This can be done before or after your wrap treatment to speed up results.
                </p>

                <h5>The Treatment process</h5>

                    <ul>
                        <li>We will to enter the treatment room and have you use the restroom, we will leave, and you will weigh yourself in the nude, and remember that number. You will change into your treatment clothing if you have brought some.</li>
                        <li>     Your technician will enter the room and will record your weight and will record your body fat percentage and your BMI with a BMI calculator. </li>
                        <li>You will lay down face down on the bed, you will be massaged with a vibration massager to stimulate the cells and increase circulation. Creams are applied to the body. </li>
                        <li>You will be wrapped loosely in a large plastic sheet, arms in is preferable however if you are claustrophobic you may leave one arm out. You will be covered with the infrared blanket, a second heat reflective blanket and then a large towel. This keeps in the heat and speeds up the process.</li>
                        <li>We will turn on relaxing music or you may bring your I-Pod, we will turn on a fan to circulate cool air over your face, turn down the lights and your tech will step out. </li>
                        <li>We use a monitor in the treatment room that will only be turned on after you are wrapped, we can see and hear you. If you have questions, concerns or even an itch you may call for your tech.  </li>
                        <li>Treatment lasts 60 minutes. When you are done your technician will come in and let you out of the blankets, you will be asked to use the restroom again, weigh yourself in the nude a second time and then you may get dressed. You will be provided with a bottle of water after every service. </li>
                        <li>After you are dressed your technician will take down your weight, and do the body fat % and BMI test again. This will give us an idea of calories burned, water weight lost or muscle gained for that treatment. If you are doing a series your tech will also do measurements before and after service.</li>
                    </ul>



                <h5>Worth Knowing:</h5>

                <p>
                    The measuring principal of the body fat scales: The body fat scales calculate body fat according to the BIA- the Bioelectric Impedance Analysis principle,
                    in which the fat in the body is analyzed in seconds by means of undetectable, completely harmless and safe electrical current. This measurement of the electrical
                    resistance impedance allows the percentage of fat to be measured. Muscular tissue has good electrical conductivity and thus-low resistance. Fat on the other hand can
                    be regarded as an insulator, since the fat cells hardly conduct current at all as a result of their high resistance.
                </p>

                <h5>Weighing Yourself Correctly:</h5>

                <p>
                    If possible always weigh yourself at the same time of day (preferably in the morning) to obtain comparable results. Remember the unnecessary clothing as well as food and drink beforehand can add to your weight. Only the long term trend is important, short term fluctuations in weight are generally the result of fluid loss.
                    If your weight drops, but your body fat percentage increases, or stays the same you have lost only water, for instance after a training session or sauna session or a diet which is based only on rapid weight loss.

                    If your weight increases but your body fat percentage reduces or stays the same, then you have gained valuable muscle.

                    If both your weight and your body fat % fall at the same time, your diet is working and you are losing body weight.

                </p>
            </div>
        </div>
        <p>****You should consult with your doctor before receiving the Sudatonic Wrap if you have received treatment for any of the following conditions: Cardiac Condition, Lupus Erythematosus, Adrenal Suppression, Multiple Sclerosis, Metal Pins or Rods or Artificial Joints.</p>



    </section>



    
</div>
