@{
    ViewBag.Title = "BioslimmingWrap";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="layout-three">
    <section id="title">
        <img src="~/Content/Images/BioslimmingWrap/BIOSLIMMING-WRAP.jpg" />

    </section>


    <section id="top-content">
        <article class="well">
            <h4>Step 1 Bioslimming Wrap</h4>
            <ul>
                <li>
                    Unique Formula combining a Multitude of Plant Extracts,
                    High Concentration of Caffeine, Essential Oils, Algae Extract
                    & Thermo Agents (more than 60% natural active ingredients).
                </li>
                <li>Reduces Cellulite and Inches.</li>
                <li>Enhances Weight Loss.</li>
                <li>Dramatically Reduces "Orange Peel" Skin. </li>
                <li>Slims, Firms and Tones.</li>
                <li>Fights Rebel Fat Deposits.</li>
                <li>Eliminates Toxins.</li>
                <li>Induces Lipolysis and Fat Burning in layer below skin’s surface.</li>
                <li>Improves Appearance of Varicose Veins, Stretch Marks, Prevents Spider Veins & Capillary Redness.</li>
                <li>Improves Circulation and Metabolism of Fat Cells.</li>
                <li>Increases Consumption of Calories. </li>
                <li>Reduces Feeling of “Heavy “ Legs.</li>
                <li>No Fuss, No Mess, Easy to Use, no in spa shower required.</li>
                <li>Non Compression, Bandage Free Wrap.</li>
                <li>1–4 cm Lost Around Waist & Thighs on First Application.</li>
            </ul>
            <h4>Step 2 Bioslimming Trio Homecare</h4>
            <ul>
                <li>
                    Your prescription Bioslimming Homecare to enhance
                    and maintain results.
                </li>
                <li>Products are Made in France</li>
            </ul>

        </article>


        <aside>
            <h4>Pricing</h4>

            <p>We recommend wraps be done in packs of 6 for ideal results that can last 3-4 months.</p>

            <table>
                <tbody>
                <tr>
                    <td>Single session</td>
                    <td>$60.00</td>
                </tr>
                <tr>
                    <td>Package of 3</td>
                    <td>$170.00 </td>
                </tr>
                <tr>
                    <td>Package of 6</td>
                    <td>330.00</td>
                </tr>
                <tr>
                    <td>Package of 10 (Includes free home care trio.)</td>
                    <td>$530.00</td>
                </tr>
                <tr>
                    <td>Legs only or Torso only</td>
                    <td>$35.00</td>
                </tr>
            </table>
            <img id="bioslimming-pic" src="~/Content/Images/BioslimmingWrap/BIOSLIMMING-WRAP2.jpg" />

        </aside>
    </section>


    <section id="bottom-content">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#first" data-toggle="tab">The Wrap</a></li>
            <li><a href="#second" data-toggle="tab">Products and Actions</a></li>
            <li><a href="#third" data-toggle="tab">Bioslimming FAQ's</a></li>
            <li><a href="#fourth" data-toggle="tab">Before and After</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="first">
                <article>
                    <p>
                        Bioslimming professional products are exclusive to salons and spas. The products have been scientifically formulated produce exceptional results from first treatment. Bioslimming professional is extremely effective at reducing Fat & the appearance of Cellulite and has a host of other benefits. This
                        fast acting cellulite treatment contains active ingredients which have been proven to have an impact
                        on the appearance of cellulite, on clinical trials the appearance of cellulite diminished by 47% from
                        first treatment and reduced by up to 67% in less than 4 weeks following regular salon treatments and
                        the use of homecare products. Bioslimming is available as both a salon treatment and homecare treatment. Unlike traditional wraps you do not require to be wrapped in bandages and it is really more of
                        a massage treatment, which makes it a very pleasant treatment to have. The massage helps in the fight
                        against cellulite and fat as the massage helps to further break down the fatty deposits and stimulates the
                        lymphatic system helping to remove toxins.
                    </p>

                </article>

                <aside>
                    <img src="~/Content/Images/BioslimmingWrap/bio2formulasandresults.jpg" />
                </aside>
            </div>
            <div class="tab-pane fade" id="second">
                <section>
                    <h4>Detox Base</h4>
                    <p>
                        The Detox Base is for professional use only. It is the first step of the wrap. This antibacterial gel has a perspirant and detox effect. It is used in particular for slimming,
                        detoxification treatment, increases circulation and promotes the health of your skin.
                        Natural algae extracts are added to help firm the skin and aid the detoxification process, it is full of natural minerals, enzymes, vitamins and amino acids.
                    </p>

                    <h5> Active Ingredients</h5>
                    <ul>
                        <li>
                            FUCUS VESICULOUSE:
                            Has anti-cellulite and slimming properties. It fights cellulite
                            and helps reduce localised fats. The common name by which this seaweed, or marine
                            algae is known is Bladderwrack.
                        </li>
                        <li>
                            ESSENTIAL OIL OF ORANGE: Promotes slimming and detoxification.

                        </li>
                        <li>
                            SORBITOL: It is used as a skin softener.
                        </li>
                    </ul>

                    <h5>Actions And Benifits</h5>
                    <ul>
                        <li>A powerful Slimming activator</li>
                        <li>Helps reduce toxins and other waste matter in bodily fluids, improves the blood circulation, helps burn excess fat, tones the body, and softens the skin.</li>
                        <li>Stimulates lymph drainage reducing fluid retention and detoxifies the skin.</li>
                        <li>
                            It dramatically activates and helps the quick penetration of the active ingredients of
                            the Active Slim Gel and Active Silm Cream
                        </li>
                    </ul>
                </section>


                <section>
                    <h4>Active Slim Gel </h4>
                    <p>
                        The Active Slim Gel helps dramatically reduce cellulite and unsightly fatty deposits.
                        It has slimming effects and acts on skin’s firmness.
                    </p>
                    <h5>Active Ingredients</h5>
                    <ul>
                        <li>ACTIVE THERMO AGENT: Activates slimming and fat elimination.It increases consumption of calories.</li>
                        <li>
                            FUCUS VESICULOSUS (ALGAE) EXTRACT-: Enhance weight loss and fight cellulite.
                            Also antibacterial, antioxidant and nutritive.
                        </li>
                        <li>
                            CAFFEINE: Helps fight dramatically cellulite. It works great to pull fluids out of the
                            spaces between cells and induce lipolysis (fat burning in the layer just below the skin’s
                            surface.)
                        </li>
                        <li>
                            ESSENTIAL OIL of CEDARWOOD: Cedarwood oil is a calming and soothing oil.
                            Cedarwood oil stimulates the lymphatic system and is beneficial for the respiratory
                            system. Helpful for oily skin, acne, cellulite and for burning pains and itching.
                        </li>
                        <li>
                            LAVENDER OIL: Lavender is grown in Provence, France. It has rejuvenating and anti-
                            inflammatory properties.
                        </li>
                    </ul>
                    <h5>Actions and Benefits</h5>
                    <ul>
                        <li>
                            Reduces dramatically Cellulite appearances and smoothes out the orange skin
                            look!
                        </li>
                        <li>Helps to break down the fat, which smoothes out the skin. </li>
                        <li>Helps increase blood flow and facilitates the swift burning of fat in the adjoining areas.</li>
                        <li>Helps with the fat burning process.</li>
                    </ul>
                </section>

                <section>
                    <h4>Active Slim Cream</h4>
                    <p>
                        The Active Slim Gel helps dramatically reduce cellulite and unsightly fatty deposits.
                        It has slimming effects and acts on skin’s firmness.
                    </p>
                    <h5>Active Ingredients</h5>
                    <ul>
                        <li>
                            FUCUS VESICULOSUS (ALGAE) EXTRACT-: Enhance weight loss and fight cellulite.
                            Also antibacterial, antioxidant and nutritive.
                        </li>
                        <li>
                            CAFFEINE: Helps to dramatically fight cellulite. It works great to pull fluids out of the
                            spaces between cells and induce lipolysis (fat burning in the layer just below the skin’s
                            surface.)
                        </li>
                        <li>
                            IVY EXTRACT: Herbal ingredient for treatment of cellulite and anti-fat. It helps other
                            ingredients in the product to be absorbed by the skin.
                        </li>
                        <li>HORSE CHESTNUT EXTRACT: Improves appearance of varicose veins, helps eliminate spider veins and capillary redness</li>
                        <li> SHEA BUTTER: Treatment of stretch marks, softens skin</li>
                        <li>
                            LAVENDER OIL: Lavender is grown in Provence, France. It has rejuvenating and anti-
                            inflammatory properties.
                        </li>
                        <li> SHEA BUTTER: Treatment of stretch marks, softens skin</li>
                        <li>
                            CEDARWOOD OIL: The therapeutic properties of cedarwood oil are antiseptic, tonic, astringent and anti-cellulite. Cedarwood oil benefits the skin by its sedating ability
                            which relieves itching.
                        </li>
                    </ul>
                    <h5>Actions and Benefits</h5>
                    <ul>
                        <li>Helps to break down the fat, which smoothes out the skin.</li>
                        <li>Helps with the fat burning process.</li>
                        <li>Enhances weight loss and fight rebel fat zones.</li>
                        <li>Helps with stretch marks, varicose veins, spider veins and capillary redness.</li>
                        <li>
                            ULTRA SLIM EFFECT:  This tonic gel is an excellent Slimming and Anti Cellulite treatment. It reduces the
                            feeling of “heavy” legs and Improves Circulation. When used with Active Slim Gel
                            and/or Cream, it will help you achieve firm toned skin with a marked reduction in the
                            “orange peel skin,” look.
                        </li>
                    </ul>

                    <h5>Active Ingredients</h5>
                    <ul>
                        <li>ACTIVE THERMO AGENT WITH MENTHOL: Boosts Detoxification and Fat Elimination. It help increase consumption of calories within the body.</li>
                        <li>
                            HORSE CHESTNUT EXTRACT: Improves the appearance of varicose veins. It also
                            helps with spider veins, capillary redness and disperses bruises.
                        </li>
                        <li>WITCH HAZEL EXTRACT: Treats varicose veins and stretch marks.</li>
                        <li>ESSENTIAL OIL OF ROSEMARY: Improves circulation, reduces appearance of broken capillaries, varicose veins and helps fight cellulite.</li>
                        <li>IVY EXTRACT: Herbal Anti-Fat ingredient for the treatment of cellulite.</li>
                        <li>EXTRACTS OF NIAOULI, ESSENTIAL OIL OF EUCALYPTUS: They have toning, firming, slimming and detoxifying properties.</li>
                    </ul>
                    <h5>Actions and Benefits</h5>

                    <ul>
                        <li>ULTRA SLIM EFFECT: Increases consumption of calories, improves firming, and eliminates excess of fat deposits and cellulite.</li>
                        <li>Helps with the fat burning process.</li>
                        <li>Minimizes appearance of lumpy skin, improves skin texture.</li>
                        <li>Results in a reduction in circumference measurements.</li>
                        <li>Helps with stretch marks, varicose veins, spider veins and capillary redness.</li>
                        <li>
                            Helps to target the micro-circulation and increases lymphatic drainage (excess fluid)
                            and helps shrink fat cells.
                        </li>
                    </ul>


                </section>

            </div>
            <div class="tab-pane fade" id="third">
                <h5>
                    How Does Bioslimming Work?
                </h5>
                <p>
                    Bioslimming is a unique formula which combines 4 different products creams/gels.
                    Each product is packed full of plant extracts, pure essential oils, algae extracts, caffeine and thermo agents both hot & cold. The ingredients have been scientifically
                    proven to act on toning, firming and cellulite and fat.
                    How long does a Bioslimming Wrap treatment take and how often can I do it?
                    Bioslimming is an hour treatment. We advise once or twice Bioslimming Wrap a
                    week.To achieve maximum results we recommended 6 to 10 sessions, if this is combined with the use of the Bioslimming Trio at home between salon treatments optimum results can be achieved.
                <h5>
                    Will I Lose Weight with Bioslimming?
                </h5>
                <p>
                    Yes you can lose weigh using Bioslimming. This is due to the fact that Bioslimming
                    works differently from other inch loss wraps as it is fat that is removed as opposed to
                    just toxins and as such many clients lose 1- 2lbs following first treatment and many
                    losing an average of 7lbs following a course of 6 treatments.
                </p>
                <h5>
                    Is Bioslimming just like all the other wraps on the market?
                </h5>

                <p>
                    Bioslimming wrap is an absolute revolution in body wraps.It contains a high concentration of active ingredients. Bioslimming wrap is not a based on “compression” and
                    is not based on temporary water loss.
                    The inch loss you get from our process are PERMANENT as long as you don’t gain
                    weightIt is an “all in one wrap” – Detoxing, Slimming, Firming, Toning, Inch Loss,
                    Combats Cellulite, Reduces Appearance of Stretch Marks & Spider Veins and much
                    more
                </p>
                <h5>
                    Are The Inches that are lost due to Water Loss?
                </h5>
                <p>
                    No. Bioslimming uses active ingredients to induce Lipolysis – fat burning below the
                    surface of the skin. Following the treatment you will be advised to drink plenty of
                    water to assist in the detoxification process.
                </p>
                <h5>
                    How Does It Reduce The Appearance Of Cellulite?
                </h5>
                <p>
                    Bioslimming draws the fluid out from between the cells, it enhances the production
                    of collagen which helps support the cells, and it increases the peripheral circulation
                    all of which are required to help tackle the appearance of cellulite.
                </p>




  </div>

            <div class="tab-pane fade" id="fourth">
                <img src="~/Content/Images/BioslimmingWrap/BioWrapBNA1t.jpg" />
                <img src="~/Content/Images/BioslimmingWrap/BioWrapBNA3t.jpg" />
            </div>
        </div>


    </section>




</div>


