@{
    ViewBag.Title = "Facials";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="layout-two">
    <section id="title">
        <h3>Facials</h3>
        <p>
            Each facial begins with a personalized skin analysis and life-style review.
            Our goal is to reduce stress and to assist in balancing and controlling existing skin conditions
            and then provide a guide for home and spa care.
        </p>
    </section>

    <section id="pricing">
        <table>
            <tbody>
                <tr>
                    <td>
                        <h4>Professional Skin Analysis</h4>

                        <p>
                            We will take a close up look at your skin and go over any questions. This usually takes about 30 minutes.

                            Complementary with any $45.00 or more service.
                        </p>
                    </td>
                    <td>$25.00</td>
                </tr>
                <tr>
                    <td>
                        <h4>Steam and Clean Express</h4>
                        <p>Perfect for those in a hurry.  This service includes cleanse, steam, extractions and moisturizer. 30 minutes</p>


                    </td>
                    <td>$35.00</td>
                </tr>
                <tr>
                    <td>
                        <h4>Luxe Anti-Aging Facial</h4>
                        <p>
                            This treatment includes a double cleansing, steam, extractions deep enzyme  exfoliation, massage for face, arms and décolleté with added C-Boost serum , collagen mask, eye and lip treatment, 302 treatment serum with SPF.  Perfect for all skin types. This service is 75 minutes.
                        </p>

                    </td>
                    <td>$75.00</td>
                </tr>
                <tr>
                    <td>
                        <h4>Rosacea Treatment Facial</h4>
                        <p>
                            This treatment includes a double cleansing, steam, extractions deep enzyme  exfoliation, massage for face, arms and décolleté with added C-Boost serum , collagen mask, eye and lip treatment, 302 treatment serum with SPF.  Perfect for all skin types.
                        </p>

                    </td>
                    <td>$75.00</td>
                </tr>
                <tr>
                    <td>
                        <h4>Acne Treatment Facial</h4>
                        <p>
                            This acne facial gets your skin clean and clear in a jiffy. Using  acne products that are free of parabens, sulfates and irritating acids we deep clean, steam, do extractions, massage on neck, shoulders and arms and decollate, cooling acne mask, eye treatment and treatment serum with SPF. This service is 60 minutes.
                        </p>

                    </td>
                    <td>$65.00</td>
                </tr>
                <tr>
                    <td>
                        <h4>Skin Brightening Facial</h4>
                        <p>
                            Skin looking a little dull? This facial uses safe and stable forms of vitamins C & A, to exfoliate and revive tired skin. Includes 2x cleanse, steam, massage on face, neck, arm and decollate, hydrating mask, orange glow eye treatment and C-Boost serum with SPF.  This service is 60 minutes.
                        </p>

                    </td>
                    <td>$65.00</td>
                </tr>
                <tr>
                    <td>
                        <h4>Pumpkin Glow Facial</h4>
                        <p>
                            Pumpkin offer antioxidants and enzymes that act like alpha-hydroxy acids. But rather than stripping the skin of unwanted materials, pumpkin enzymes help replenish the skin with nutrients. Pumpkin contains more than 100 beneficial nutrients, antioxidants and Vitamin C as well as Beta-carotene. All this leaves you with fresh, smooth and glowing skin. Great for most skin types.  This service is 60 minutes.
                        </p>

                    </td>
                    <td>$60.00</td>
                </tr>
                <tr>
                    <td>
                        <h4>Teen Clean Facial</h4>
                        <p>
                            An express facial that includes cleansing, steam and extractions, mask and moisturizer. Great for all skin conditions. We will also talk to your teen or tween about the importance of proper skin care habits. A perfect start to great skin care.    This service is 45 minutes and includes a starter kit.
                        </p>

                    </td>
                    <td>$55.00</td>
                </tr>
                <tr>
                    <td>
                        <h4>Moisture Bliss Facial</h4>
                        <p>
                            When soothing hydration is all you need, no chemicals, colors or active products of any kind. Gentle acid free exfoliation, massage on face, neck, decollate and arms, hydrating mask, moisture drops. Excellent for hyper sensitive skin, sunburns, dry and flaking skin.  This service is 60 minutes.
                        </p>

                    </td>
                    <td>$55.00</td>
                </tr>
            </tbody>
        </table>
    </section>

</div>






