@{
    ViewBag.Title = "Bioslimming";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="welcome" class="white-container boxes">
    <img src="~/Content/Images/Bioslimming/bioslimming.jpg" />
</div>





<div class="boxes white-container">


    <div id="left-box" >
        <img class="pull-left bioslimming-pics" src="~/Content/Images/Bioslimming/1ACTIVESLIMGEL.jpg"/>
        <img class="pull-left bioslimming-pics" src="~/Content/Images/Bioslimming/2ACTIVESLIMcream.jpg"/>
        <img class="pull-left bioslimming-pics" src="~/Content/Images/Bioslimming/3ULTRASLIMEFFECT.jpg"/>

    </div>

    <div class="custom-bioslimming-text">
        <h3>1 Active Slim Gel</h3>
        <b>Focus on slimming and cellulite.</b>
        <p>
            Active Slim Gel dramatically reduces the appearance of cellulite, acts on skin firmness and induces fat burning 
            which directly targets those unsightly fatty deposits as well as having anti-inflammatory properties. It stimulates 
            the lymphatic system, activates the elimination of fat and enhances weight loss. 
        </p>

        Active Ingredients:
        -Algae Extracts, Caffeine, Glycerin, Sorbitol, Essential Oil Of Cedarwood, Lavender Oil, Thermo Agents
    </div>

    <div class="custom-bioslimming-text">
        <h3>2 Active Slim Cream</h3>
        <b>Focus on slimming and fat deposits.</b>
        <p>
            Active Slim Cream offers a dramatic breakthrough in the reduction of rebel fat from the hips, stomach, waist and arms. 
            The stomach appears flatter and firmer. Active Slim Cream also targets cellulite and enhances weight loss. 
            This slimming and contouring cream is an advanced treatment that also improves the appearance of stretch marks. 
        </p>


        Active Ingredients:
        Fucus Vesiculosus (Algae) Extract, Caffeine, Ivy Extract, Horse Chestnut Extract, Shea Butter, Lavender Oil, Cedarwood Oil, Thermo Agents.
    </div>
    
    <div class="custom-bioslimming-text">
        <h3>3 Ultra Slim Effect</h3>
        <b>Focus on slimming and firming.</b>
        <p>
            Ultra Slim Effect is extremely effective at slimming and enhancing weight loss. It improves circulation, has anti- inflammatory properties and reduces the feeling of “Heavy Legs”. 
            This gel when combined with Active Slim Cream & Active Slim Gel helps you achieve firm toned skin with a marked reduction in the appearance of cellulite, 
            stretch mark and fat deposits. It helps reduce the formation of new adipocytes, inhibits fat synthesis, boosts the elimination of fat with its draining action.
        </p>

        Active Ingredients:
        Active Thermo Agent With Menthol, Horse Chestnut Extract, Witch Hazel Extract, E. Oil Of Rosemary, Ivy Extract, Extracts Of Niaouli and Eucalyptus.

    </div>






</div>


