@{
    ViewBag.Title = "Body";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="welcome" class="white-container">
    <h2>Body Treatments</h2>
    <br />
    The face isn’t the only part of our bodies we reveal to the world.  We offer multiple services to shine a little brighter whether it be for an event or a little extra to make yourself feel better.   
</div>


<div class="white-container boxes">
    
    <table class="table table-hover">
        <tbody>
            <tr>
                <td><b>Sugar Scrub: </b>30 Minutes
                    <br/>
                    <div class="custom-indent">
                       Indulge in a skin smoothing, body hydrating sugar scrub. Using real sugar and natural oils, we exfoliate your whole body, and remove the scrub with warm towels followed by a mini massage as we apply rich body butter. Excellent right before an event, or the day before you get a spray tan. 3 wonderful scents to choose from; mango, vanilla coco bean, brazil nut and pumpkin.
                    </div>
                </td>
                <td>$40.00</td>
            </tr>
            <tr>
                <td><b>Back Treatment</b>
                    <br/>
                    <div class="custom-indent">
                        Get you back cleared up and looking great this year with a 45 min back treatment to clear up acne, dry scaly winter skin, sunburn or to bring out a beautiful glow.
                        Take home Acne Mist or Calming Mist with your treatment for an additional $10.00.
                    </div>
                </td>
                 <td>$55.00</td>
           </tr>
               </tbody>
    </table>

</div>
