@{
    ViewBag.Title = "Facials";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div id="welcome" class="white-container">
    <h2>Facials</h2>
    <br />
    Each facial begins with a personalized skin analysis and life-style review. <br/>
    Our goal is to reduce stress and to assist in balancing and controlling existing skin conditions 
    and then provide a guide for home and spa care.
</div>

 <div class="white-container boxes">
        @*<h2 class="text-center">Pricing</h2>*@
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td><b>Professional Skin Analysis</b>
                        <br />
                        <div class="custom-indent">
                            We will take a close up look at your skin and go over any questions. This usually takes about 30 minutes. 
                            <br />
                            Complementary with any $45.00 or more service.
                        </div>
                    </td>
                    <td>$25.00</td>
                </tr>
                <tr>
                    <td><b>Steam and Clean Express</b>
                        <br />
                        <div class="custom-indent">Perfect for those in a hurry.  This service includes cleanse, steam, extractions and moisturizer. 30 minutes</div>
                    </td>
                    <td>$35.00</td>
                </tr>
                <tr>
                    <td><b>Luxe Anti-Aging Facial</b>	
                        <br/>
                        <div class="custom-indent">
                            This treatment includes a double cleansing, steam, extractions deep enzyme  exfoliation, massage for face, arms and décolleté with added C-Boost serum , collagen mask, eye and lip treatment, 302 treatment serum with SPF.  Perfect for all skin types. This service is 75 minutes.
                        </div>
                    </td>
                    <td>$75.00</td>
                </tr>
                <tr>
                    <td><b>Rosacea Treatment Facial</b>
                        <br/>
                        <div class="custom-indent">
                            This treatment includes a double cleansing, steam, extractions deep enzyme  exfoliation, massage for face, arms and décolleté with added C-Boost serum , collagen mask, eye and lip treatment, 302 treatment serum with SPF.  Perfect for all skin types.
                        </div>
                    </td>
                    <td>$75.00</td>
                </tr>
                <tr>
                    <td><b>Acne Treatment Facial</b>
                        <br/>
                        <div class="custom-indent">
                            This acne facial gets your skin clean and clear in a jiffy. Using  acne products that are free of parabens, sulfates and irritating acids we deep clean, steam, do extractions, massage on neck, shoulders and arms and decollate, cooling acne mask, eye treatment and treatment serum with SPF. This service is 60 minutes.
                        </div>
                    </td>
                    <td>$65.00</td>
                </tr>
                <tr>
                    <td><b>Skin Brightening Facial</b>
                        <br/>
                        <div class="custom-indent">
                            Skin looking a little dull? This facial uses safe and stable forms of vitamins C & A, to exfoliate and revive tired skin. Includes 2x cleanse, steam, massage on face, neck, arm and decollate, hydrating mask, orange glow eye treatment and C-Boost serum with SPF.  This service is 60 minutes.
                        </div>
                    </td>
                    <td>$65.00</td>
                </tr>
                <tr>
                    <td><b>Pumpkin Glow Facial</b>
                        <br/>
                        <div class="custom-indent">
                            Pumpkin offer antioxidants and enzymes that act like alpha-hydroxy acids. But rather than stripping the skin of unwanted materials, pumpkin enzymes help replenish the skin with nutrients. Pumpkin contains more than 100 beneficial nutrients, antioxidants and Vitamin C as well as Beta-carotene. All this leaves you with fresh, smooth and glowing skin. Great for most skin types.  This service is 60 minutes.
                        </div>
                    </td>
                    <td>$60.00</td>
                </tr>
                <tr>
                    <td><b>Teen Clean Facial</b>
                        <br/>
                        <div class="custom-indent">
                            An express facial that includes cleansing, steam and extractions, mask and moisturizer. Great for all skin conditions. We will also talk to your teen or tween about the importance of proper skin care habits. A perfect start to great skin care.    This service is 45 minutes and includes a starter kit.
                        </div>
                    </td>
                    <td>$55.00</td>
                </tr>
                <tr>
                    <td><b>Moisture Bliss Facial</b>
                        <br/>
                        <div class="custom-indent">
                            When soothing hydration is all you need, no chemicals, colors or active products of any kind. Gentle acid free exfoliation, massage on face, neck, decollate and arms, hydrating mask, moisture drops. Excellent for hyper sensitive skin, sunburns, dry and flaking skin.  This service is 60 minutes.
                        </div>
                    </td>
                    <td>$55.00</td>
                </tr>
        </tbody>
        </table>
        
    
        
    </div>

