
//main container margins for whole site
.main-container {
    width: 80%;
    margin: 0 auto;
 
}

//layout for home page
.layout-one {

    aside {
        width: 23%;
        float: left;
        margin-right: 2%;
    }

    article {
        float: right;
        width: 75%;
    }
}


