//import all less style sheets
@import "../bootstrap/bootstrap.less";
@import "01reset.less";
@import "02variables.less";
@import "03mixins.less";
@import "04layout.less";


body {
    //background-image: url(../Images/blue-wallpaper.jpg);
    background-image: url(../Images/white-washed-grunge-patterns-10.jpg);

    h1, h2 {
        visibility: hidden;
    }

    h3, h4 {
        font-family: 'Italianno', cursive;
    }

    header {
        background-color: white;

        img {
            display: block;
            padding-top: 1%;
            padding-bottom: 4%;
            padding-left: 20%;
            width: 75%;
        }
    }

    #bs-example-navbar-collapse-1 {
        .main-container;

        .navbar {
            border-radius: 0px;
            margin-bottom: 0px;
            background-color: none;
        }
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }





    section {
        //typography
        font-family: 'Simonetta', cursive;
        line-height: 1.2em;
        font-weight: 500;
    }


    .carousel-inner {
        img {
            width: 60%;
            margin: 0 auto;
        }

        background-color: black;
    }




    .layout-one {
        padding: @layout-one-padding @layout-one-padding @layout-one-padding @layout-one-padding;
        border: thin;

        h3 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        p {
            text-align: justify;
        }

        article iframe {
            height: 500px;
            width: 98%;
        }

        section {
            .well;
        }


        #main-slide {
            margin-bottom: 20px;
        }
    }
}
