@{
    ViewBag.Title = "JaneIredale";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="layout-two">
    <section id="title">
        <a href="https://janeiredale.com/">

            <img src="~/Content/Images/JIMC/290155-janeiredalebanner.png" />
        </a>
    </section>
    



    <section>

        @*<img class="img-polaroid" src="~/Content/Images/JIMC/260.jpg" style="float: right" />*@


        <h5>Four-in-One</h5>
        <p>Our multi-tasking products, Amazing Base, PurePressed Base, Glow Time and Dream Tint, provide four important functions in one: foundation, concealer, sunscreen and active skin care benefits</p>


        <h5>Sun Protection</h5>
        <p>Six jane iredale products have earned the Skin Cancer Foundation Seal of Recommendation. To earn this seal, a manufacturer must provide scientific data showing that its products sufficiently and safely aid in the prevention of sun-induced damage to the skin.</p>



        <h5>Finishes</h5>
        <p>The nature of high quality minerals is to interact with light. This is what gives them their celebrated soft-focus effect. Our line includes a variety of foundations that provide a range of finishes from sheer to full, from luminescent to velvety.</p>


        <h5>Coverage</h5>
        <p>Because we use pure mineral pigment with no fillers such as talc, our foundations and concealers give exceptional coverage that requires minimal touch-ups.</p>

        <h5>Non-comedogenic</h5>
        <p>Our foundations form a protective barrier on the skin that allows it to breathe and function normally. Laboratory tests confirm that all of our products are non-comedogenic and do not block pores</p>

        <h5>Anti-inflammatory</h5>
        <p>We make a conscious effort to include anti-inflammatory ingredients in our products because we believe that this can measurably contribute to skin health.</p>

        <h5>Minimum Allergy Risk</h5>
        <p>We make a conscious effort to include anti-inflammatory ingredients in our products because we believe that this can measurably contribute to skin health.</p>

        <h5>Natural Preservatives</h5>
        <p>Where preservatives are needed, we use a combination of natural preservatives, always excluding parabens and phenoxyethanol.</p>
    </section>
</div>
    