/*This section is for custom CSS*/


h1,h2,h3,h4{font-family: 'Italianno', cursive;font-size: 40px;}
p
{
    text-indent: 50px;
}

body
{
   background-image: url(Images/Wallpaper-Blue.jpg);
    /*background: url(Images/background.jpg);*/
    background-attachment: fixed;
    font-family: 'Simonetta', cursive;
    font-size: inherit;
}

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

 .navbar-inner {
    text-align:center;
}


.white-container 
{
      
    border-radius: 10px;
    border-style: double;
    background-color:white;
    color:black;
    /*filter: alpha(opacity = 90);
    opacity: .9;*/
}

#welcome {
    margin: 0 auto 0 auto;
    padding: 20px;
    width: 920px;
    text-align: center;
    /*font-family: 'Italianno',cursive;
    font-size: xx-large;*/
}



#jumbotron {
    margin: 0 auto 0 auto;
    background-color: white;
    
    width: auto;
    text-align: center; 
}

/*#welcome  h1{
    float: right;
    font-size: 50px;
}*/

.boxes {
   
    width: 960px;
    margin: 10px auto 0 auto;
}

#left-box {
    text-align: center;
    float: left;
    width: 300px;
    padding: 7px;    
}

#right-box {
    float: right;
    width: 600px;
    padding: 7px;
}

.leftbottom-box {
    text-align: center;
    float: left;
    width: 302px;
    padding: 7px;
    margin: 10px auto 0 auto;  
}

.custom-indent {
    margin-left: 50px;
}


.validation-summary-errors {
    color: red;
}



#custom-lipolaser-tablefooter {
    font-size: small;
    font-weight: bold;
}



#custom-leftbox {
    float: left;
    width: 300px;
    padding: 7px;  
}


.custom-bioslimming-text {
    margin-top: 5%;
}
.bioslimming-pics {
    height: 255px;
    width: 210px;

}


footer {
    text-float:center; 
    position:absolute; 

}