@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="layout-two">
    <section id="title">
        <h3>Administration</h3>

    </section>

    <section class="display-block">

        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#Email" data-toggle="tab">Email Admin</a></li>
            <li><a href="#Specials" data-toggle="tab">Specials Admin</a></li>
        </ul>



        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="Email">


                <h5>Emails Collected</h5>
                @Html.Action("AdminEmailAddress")


                <h5>Copy and Paste these into your message to spam folks!</h5>
                @Html.Action("AdminEmailVomit")


            </div>
            <div class="tab-pane fade" id="Specials">
                <h5>Specials Admin</h5>
                @Html.Action("AdminSpecial")
            </div>
        </div>
    </section>

</div>
