@model MvcSeasonsSite.Models.Special



@using (Html.BeginForm())
{
    <section class="display-block">
        @Html.ValidationSummary(true)

        <input type="submit" value="Save" />
        
        


        @Html.HiddenFor(model => model.Id)

        @*<div class="editor-label">*@
            @Html.LabelFor(model => model.Content)
        @*</div>*@
        @*<div class="editor-field custom-admin-specialtextbox">*@
            @Html.EditorFor(model => model.Content)

        @*</div>*@
    </section>




}



