@model MvcSeasonsSite.Models.Special



@using (Html.BeginForm())
{
    <section class="display-block">
        @Html.ValidationSummary(true)

        <input type="submit" value="Save" />
        
        


        @Html.HiddenFor(model => model.Id)

        @*<div class="editor-label">*@
            @Html.LabelFor(model => model.Content)
        @*</div>*@
        @*<div class="editor-field custom-admin-specialtextbox">*@
            @Html.EditorFor(model => model.Content)

        @*</div>*@
    </section>


        <!--this is the beginning of the tinyMCE!-->
    <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>

    <script type="text/javascript">
        tinyMCE.init({
            mode: "textareas",
            height: "800",
            //font_size_classes: "fontSize1,fontSize2,fontSize3,fontSize4,fontSize5,fontSize6,fontSize7",
            //paste_auto_cleanup_on_paste: true,
            //paste_remove_styles: true,
            //paste_remove_styles_if_webkit: true,
            //paste_strip_class_attributes: true,
        });
    </script>

}



