@model MvcSeasonsSite.Models.Login

@{
    ViewBag.Title = "AdminLogin";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="white-container boxes">

    @using (Html.BeginForm())
    {

        @Html.ValidationSummary()
        <p>User Name:</p>
        <p> @Html.TextBoxFor(x => x.User)</p>
        <p>Password:</p>
        @*p> @Html.TextBoxFor(x=> x.Pass)</p>*@
        <p>@Html.PasswordFor(p => p.Pass)</p>

        <p><input class="btn btn-primary" type="submit" value="Let My Ass in!" /></p>

    }
</div>
