@{
    ViewBag.Title = "TintServices";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="welcome" class="white-container">
    <h2>Tint Services</h2>
    Get beautiful lashes that appear longer and darker without mascara or fuller looking lashes when using mascara.
    Match your brows to your hair color or simply have them look more defined, without a pencil or re-applying.  Great for a natural look that is waterproof and sweat proof and won’t smear in the summer sun.

</div>


<div class="boxes">
    <div id="left-box" class="white-container">
        <h2>Before and After</h2>
        <div class="img-polaroid">
            <a rel="lightbox" href="~/Content/Images/Tint Services/Tintphotosbandafter_large.jpg"><img src="~/Content/Images/Tint Services/Tintphotosbandafter.jpg" /></a>
        </div>
        <br />
        <div class="img-polaroid">
            <a rel="lightbox" href="~/Content/Images/Tint Services/Tintphotosbandafter1_Large.jpg"><img src="~/Content/Images/Tint%20Services/Tintphotosbandafter1.jpg" /></a>
        </div>


    </div>
    <div id="right-box" class="white-container">
        <h2 class="text-center">Pricing</h2>

        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>Brow Tinting</td>
                    <td>$15.00</td>
                </tr>
                <tr>
                    <td>Lash Tinting</td>
                    <td>$20.00</td>
                </tr>
                <tr>
                    <td>Lash and Brow Tinting</td>
                    <td>$30.00</td>
                <tr></tr>
            </tbody>
        </table>
        <h5>Colors</h5>
        -Blue Black &nbsp; &nbsp; &nbsp;-Black &nbsp; &nbsp; &nbsp;-Graphite &nbsp; &nbsp; &nbsp;-Light Brown &nbsp; &nbsp; &nbsp;-Dark Brown &nbsp; &nbsp; &nbsp;-Chestnut &nbsp; &nbsp; &nbsp;-Blonde

        <p>We can also custom mix colors to get your perfect match.</p>

        <br />


    </div>


</div>
