@{
    ViewBag.Title = "TintServices";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="layout-three">
    <section id="title">
        <h3>Tint Services</h3>
       
    </section>


    <section id="top-content">
        <article>
            <h4>Before and After</h4>
            
            <p>
                Get beautiful lashes that appear longer and darker without mascara or fuller looking lashes when using mascara.
                Match your brows to your hair color or simply have them look more defined, without a pencil or re-applying.  Great for a natural look that is waterproof and sweat proof and won’t smear in the summer sun.
            </p>
            <img src="~/Content/Images/Tint Services/Tintphotosbandafter.jpg" />

            <img src="~/Content/Images/Tint%20Services/Tintphotosbandafter1.jpg" />
        </article>
      


        <aside>
            
         
            <h4>Pricing</h4>
           
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Brow Tinting</td>
                        <td>$15.00</td>
                    </tr>
                    <tr>
                        <td>Lash Tinting</td>
                        <td>$20.00</td>
                    </tr>
                    <tr>
                    <td>Lash and Brow Tinting</td>
                    <td>$30.00</td>
                    <tr></tr>
                </tbody>
            </table>
            
          
            
            <h4>Colors</h4>
            <ul>
                <li>Blue Black</li>
                <li>Blue Black</li>
                <li>Black</li>
                <li>Graphite</li>
                <li>Graphite</li>
                <li>Light Brown</li>
                <li>Dark Brown</li>
                <li>Chestnut</li>
                <li>Blonde</li>
            </ul>

            <p>We can also custom mix colors to get your perfect match.</p>
            
            
            

        </aside>
       
        





    </section>

</div>

