@{
    ViewBag.Title = "WaxServices";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="layout-three">

    <section id="title">
        <h3>Wax Services</h3>
       

    </section>

    <section id="top-content">

        <article>
           
            <h4>Packages</h4>

            <ul>  
                <li>3 Brow wax & shaping: $30</li>
                <li>3 Full Brazilian waxes: $180</li>
          
                <li>3 Chest Or Back Wax $135</li>
                <li>3 Mens Brow Shaping $30</li>
            </ul>
            <p>
                We use high quality sensitive waxes, in strip & non-strip form. We always provide both pre & post care for your skin.
                *Complimentary make-up application provided. You'll never leave red!
            </p>
            <img src="~/Content/Images/WaxServices/wax female.jpg" />

        </article>

        <aside>
       
            <h4>Pricing</h4>
          
            <table>
                <tbody>
                    <tr>
                        <td>Lip, Chin, Cheeks, Nose or Ears</td>
                        <td>$10.00</td>
                    </tr>
                    <tr>
                        <td>Face</td>
                        <td>$20.00 and Up</td>
                    </tr>
                    <tr>
                        <td>Brows</td>
                        <td>$15.00</td>
                    <tr>
                        <td>Men's Brow Shaping</td>
                        <td>$15.00</td>
                    </tr>
                    <tr>
                        <td>Underarms</td>
                        <td>$20.00</td>
                    </tr>
                    <tr>
                        <td>Bikini</td>
                        <td>$25.00</td>
                    <tr>
                        <td>Partial Brazilian (Front Only)</td>
                        <td>$45.00</td>
                    </tr>
                    <tr>
                        <td>Full Brazilian</td>
                        <td>$65.00</td>
                    </tr>
                    <tr>
                        <td>Backs (Men)</td>
                        <td>$55.00</td>
                    <tr>
                        <td>Chest (Men)</td>
                        <td>
                            $55.00
                        <td>
                    </tr>
                    <tr>
                        <td>Lower Backs (Women)</td>
                        <td>$30.00</td>
                    </tr>
                    <tr>
                        <td>Lower Leg</td>
                        <td>$40.00</td>
                    <tr>
                        <td>Upper Leg/Thigh</td>
                        <td>$40.00</td>
                    </tr>
                    <tr>
                        <td>Full Leg</td>
                        <td>$70.00</td>
                    </tr>
                    <tr>
                        <td>Forearms</td>
                        <td>$20.00</td>
                    </tr>
                    <tr>
                        <td>Foot and Toes</td>
                        <td>$10.00</td>
                    <tr>
                        <td>*We currently do not offer male brazillians at this time.*</td>
                    </tr>
                </tbody>
            </table>
        </aside>


    </section>



</div>




