@{
    ViewBag.Title = "LipoLaserBNA";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="layout-two">
    <section id="title">

        <h3>LipoLaser Before and After</h3>
    </section>
    <section id="images">
        <img src="~/Content/Images/lipolaser/LipoLaserw1.jpg" />
        <img src="~/Content/Images/lipolaser/LipoLaserw2.jpg" />
        <img src="~/Content/Images/lipolaser/dbBNA.jpg" />
        <img src="~/Content/Images/lipolaser/frladyBNA.jpg" />
        <img src="~/Content/Images/lipolaser/LipoLaserOther.jpg" />
        <img src="~/Content/Images/lipolaser/LipoLaserTatGirlBNA.jpg" />

    </section>

</div>
