@{
    ViewBag.Title = "LipoLaserBNA";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="welcome" class="white-container boxes">

    <h2>LipoLaser Before and After</h2>
</div>
<div class="boxes white-container">


    <div class="img-polaroid">
        <a rel="lightbox" href="~/Content/Images/lipolaser/LipoLaserw1.jpg"><img src="~/Content/Images/lipolaser/LipoLaserw1.jpg" /></a>
    </div>
    <div class="img-polaroid">
        <a rel="lightbox" href="~/Content/Images/lipolaser/LipoLaserw2.jpg"><img src="~/Content/Images/lipolaser/LipoLaserw2.jpg" /></a>
    </div>
    <div class="img-polaroid">
        <a rel="lightbox" href="~/Content/Images/lipolaser/dbBNA.jpg"><img src="~/Content/Images/lipolaser/dbBNA.jpg" /></a>
    </div>
    <div class="img-polaroid">
        <a rel="lightbox" href="~/Content/Images/lipolaser/frladyBNA.jpg">
            <img src="~/Content/Images/lipolaser/frladyBNA.jpg" />
        </a>
    </div>
    <div class="img-polaroid">
        <a rel="lightbox" href="~/Content/Images/lipolaser/LipoLaserOther.jpg"><img src="~/Content/Images/lipolaser/LipoLaserOther.jpg" /></a>
    </div>
    <div class="img-polaroid">
        <a rel="lightbox" href="~/Content/Images/lipolaser/LipoLaserTatGirlBNA.jpg"><img src="~/Content/Images/lipolaser/LipoLaserTatGirlBNA.jpg" /></a>
    </div>

</div>
